.root {
  display: grid;
  align-content: start;
  gap: 0.9rem;
  margin-bottom: 1.15rem;
}

.center {
  margin-inline: auto;
  text-align: center;
}

.center :global(.tag) {
  margin-inline: auto;
}

.description {
  margin: 0;
  font-size: 1rem;
  max-width: 64ch;
}
